<?php
	if (session_status() == PHP_SESSION_NONE){session_start();}
	$dbUser = "database user";
	$dbPassword = "database password";
	$dbName = "dbName";
	$dbHost = "host";
	$adminEmail = "adminEmail";
	$baseURL = "baseUrl";
	
	$adminMail = 'example@example.com';
	$webmasterMail = 'example@example.com';
	$baseURL = "webPath";
	$serverURL = "serverPath";
	
?>
